.section-card__container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  gap: 70px;
}

.section-card__right {
  width: 50%;
}
.section-card__left {
  height: 400px;
  width: 50%;
  border: 1px solid black;
  border-radius: 10px;
  overflow: hidden;
}
.section-card__left > * {
  height: 100%;
  width: 100%;
}

.section-card__left img {
  object-fit: cover;
  height: 100%;
  width: auto;
}

@media only screen and (max-width: 1024px) {
  .section-card__container {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .section-card__left {
    width: 70%;
    height: 300px;
  }
}
