:root {
  --card-transition-time: 0.7s;
}

.service-card__turn-card {
  height: 650px;
  width: 350px;
  background-color: var(--gray-2);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  overflow: hidden;
  border-radius: 10px;
  position: relative;
  border-radius: 10px;
  border: 8px solid white;
  cursor: pointer;
  transition: all var(--card-transition-time) cubic-bezier(0.58, 0.03, 0.7, 2);
}

.service-card__container {
  transition: all ease var(--card-transition-time);
}

.service-card__container:hover .service-card__turn-card {
  transform: rotateY(180deg);
}

.service-card__turn-card::before {
  position: absolute;
  content: "";
  backdrop-filter: blur(8px);
  width: 100%;
  height: 100%;
  bottom: 0;
  z-index: 10;
}

.service-card__back,
.service-card__front {
  transition: all var(--card-transition-time) ease;
}

.service-card__container:hover .service-card__turn-card .service-card__front {
  z-index: 0;
  opacity: 0;
}
.service-card__container:hover .service-card__turn-card .service-card__back {
  z-index: 20;
  background-color: #00000088;
}

.service-card__front {
  z-index: 20;
  position: absolute;
  width: 100%;
  height: 100%;
}
.service-card__back {
  color: white;
  position: absolute;
  z-index: -10;
  transform: rotateY(180deg);
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.service-card__turn-card header {
  z-index: 20;
  width: 100%;
  height: 45%;
  overflow: hidden;
  border-bottom-left-radius: 50%;
  border-bottom-right-radius: 50%;
  border: 4px solid white;
  box-shadow: 0 1px 8px 1px white;
}

.service-card__turn-card .service-card__bottom {
  height: 55%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.service-card__img {
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}

.service-card__text {
  z-index: 20;
  color: white;
  background-color: #00000088;
  margin: 20px;
  border-radius: 20px;
  border: 4px solid white;
  font-size: 24px;
}

.service-card__turn-card h3 {
  text-align: center;
  text-transform: uppercase;
}
.service-card__turn-card p {
  text-align: center;
  margin-left: 25px;
  margin-right: 25px;
}

@media only screen and (max-width: 1024px) {
  .service-card__turn-card {
    width: 80vw;
    height: 250px;
  }

  .service-card__front {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .service-card__turn-card header {
    display: none;
    width: 600px;
    height: 100%;
    border-bottom-left-radius: 0%;
    border-bottom-right-radius: 50%;
    border-top-right-radius: 50%;
    border: 4px solid white;
    box-shadow: 0 1px 8px 1px white;
  }
  .service-card__text {
    z-index: 20;
    width: 80%;
    font-size: 18px;
  }

  .service-card__img {
    background-position: center;
  }

  .service-card__turn-card::before {
    backdrop-filter: blur(0px);
    transition: all var(--card-transition-time) ease;
  }
  .service-card__turn-card:hover::before {
    backdrop-filter: blur(4px);
  }
}
