.service-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  margin-bottom: 40px;
  justify-content: flex-start;
  /* background-color: var(--terceary-color); */
  /* background-color: var(--gray-1); */
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 40px;
  max-width: 100vw;
  overflow-x: hidden;
}
.service-container__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}
.service__text {
  font-size: 22px;
}
.service__text li {
  margin: 40px;
}

@media only screen and (max-width: 1024px) {
  .service-container__cards {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
  }
}
