.section-row__container {
  display: flex;
  height: 70vh;
  position: relative;
}

.section-row__container--reverse {
  flex-direction: row-reverse;
}

.section-row__container > * {
  width: 50%;
}

.section-row__content {
  background-color: var(--gray-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 50px;
}

.section-row__image {
  background-image: var(--image);
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  background-position: 45vw 10px;
}

.section-row__front {
}

.section-row__back {
  opacity: 0;
}

.section-row__back,
.section-row__front {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  height: 100%;
  position: absolute;
  padding: 70px 40px;
  font-size: 1.1em;
  transition: opacity 0.5s ease;
}

.section-row__content:hover .section-row__back {
  opacity: 1;
}
.section-row__content:hover .section-row__front {
  opacity: 0;
}
