.section-row__container {
  display: flex;
  margin: 60px auto;
  height: 70vh;
}

.section-row__container--reverse{
  flex-direction: row-reverse;
}

.section-row__container > * {
  width: 50%;
}

.section-row__content {
  background-color: var(--gray-2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  padding: 25px 50px;
}

.section-row__image {
  background-image: var(--image);
  background-repeat: no-repeat;
  background-size: contain;
  background-attachment: fixed;
  background-position: right;
}
