.contact-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: flex-start;
  gap: 20px;
  background-color: white;
}
.contact-container__cards {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 100%;
}

.contact-container__info {
  width: min-content;
}
